.main-dashboard-container {
    display: flex;
  }
  
 
  
  .name-list {
    margin-top: 20px;
  }
  
  .name-link {
    display: block;
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .name-link:hover {
    background-color: #c4c9cd;
    color: #000;
  }
  